.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.App-header {
  background-color: #11435a;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.headerImage {
  height: 160px;
  border-radius: 50px;
}
.properties {
  margin: 40px 0;
}
.properties h2 {
  color: #463c3a;
}

.property-list {
  display: flex;
  justify-content: space-around;
}

.property {
  border: 1px solid #ccc;
  padding: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-content: center;
  color: black;
  text-decoration: none;
}

.property img {
  max-width: 100%;
}

.contact {
  margin: 40px 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.footer {
  margin-top: 40px;
  font-size: 0.8em;
}
